body{
    background: black;
    color: white;
    margin: 0;
}

h1{
    margin: 0;
    font-size: 190px;
    cursor: pointer;
	transition: color 0.5s;
	color: #fff;
	position: relative;
	animation-duration: 3s;
	animation-name: titre;
  	animation-iteration-count: infinite;
}

* {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a{
    color: #29b6f6;
    text-decoration: none;
}

#playground{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: 404px;
    height: 303px;
    text-align:center;
    margin: -151px -202px ;
	transition: left 1s, opacity 0.3s;
	opacity: 1;
}

#box {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;

    width: 100px;
    height: 100px;

    margin: -50px;

    transition: background 0.5s, width 0.5s, height 0.5s, margin 0.5s;
	background: #000;
}

#box.small {
	background: #fff;
}

#box.full {
	height: 300px;
	width: 600px; 
	background: #fff;

	margin: -150px -300px;
}

@keyframes titre {
  from {
  	left: 0px;
  }

  70% {
  	left: 5px;
  }
  75% {
  	left: -5px;
  }
  80% {
  	left: 5px;
  }

  to {
  	left: 0px;
  }
}
